.fr-box.fr-basic.fr-bottom .fr-wrapper {
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  /*border: 1px solid rgba(89, 206, 135, 0.3);*/
  background-color: #f0f0f0 !important;
}

.fr-placeholder {
  font-size: 14px !important;
}

.fr-toolbar {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

.fro_post {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  /*margin-left: .2rem;*/
}

.fro_post p {
  line-height: 28px;
  font-size: 16px !important;

  margin-bottom: 0;
}

.fro_post ul {
  padding-left: 3rem;
}

.fro_post li {
  line-height: 28px;
  font-size: 16px !important;
  list-style-type: circle;
}

.fro_post a {
  color: #4c80ff;
  text-decoration: underline;
}

.fro_post pre {
  font-size: 15px !important;
  background: rgba(0, 0, 0, .05);
  padding: 20px;
  white-space: pre-wrap;
  margin: 20px 0;
}

.fro_post h1 {
  font-size: 24px !important;
}

.fro_post h2 {
  font-size: 22px !important;
}

.fro_post h3 {
  font-size: 20px !important;
}

.fro_post h4 {
  font-size: 18px !important;
}

.fro_post h5 {
  font-size: 16px !important;
}

.fro_post h6 {
  font-size: 14px !important;
}

.fro_post h1, .fro_post h2, .fro_post h3 {
  font-weight: 600;
  word-spacing: .001em !important;
}

.fro_post h4. .fro_post h5, .fro_post h6 {
  font-weight: 500;
  word-spacing: .001em !important;
}

.fro_post h1:not(:first-child), .fro_post h2:not(:first-child), .fro_post h3:not(:first-child) {
  margin-top: 3rem;
  line-height: 2.5rem;
}

.fro_post h4:not(:first-child). .fro_post h5:not(:first-child), .fro_post h6 :not(:first-child) {
  margin-top: 2rem;
  line-height: 2.5rem;
}

/*.fr-wrapper .fr-placeholder {*/
/*  font-family: Nunito, Arial, sans-serif;*/
/*}*/

.fr-popup {
  z-index: 2147483641 !important;
}

.fr-fullscreen-wrapper {
  width: 100vw !important;
}

