/*!
 * Copyright (c) 2020. 390labs Limited
 */

.form-control {
  display: block;
  width: 100%;
  min-height: calc(1.5em + .75rem + 2px);
  padding: 1.6rem .75rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #D0C9D6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &--light {
    background-color: #ffffff;

    &:focus {
      background-color: #ffffff !important;
    }
  }

  &::placeholder {
    color: #dddede;
  }
}

.form-control:focus, .form-control:not(.is-valid):not(.is-invalid):focus {
  color: #001B36;
  background-color: #ffffff;
  border: 1px solid $primary-color-deep;
  outline: 0;
  box-shadow: none;
}

.form-radio-span {
  line-height: 1;
}

.form-radio-label {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: rgba(197, 181, 241, 1);
  width: 22px;
  height: 22px;
  border: 2px solid rgba(197, 181, 241, 1);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgba(142, 121, 203, 1);
    /* Windows High Contrast Mode */
    background-color: transparent;
  }

  &:checked::before {
    transform: scale(1);
    background-color: rgba(142, 121, 203, 1);
  }

  &:checked {
    border-color: rgba(142, 121, 203, 1);
  }

  &:focus {
    outline: max(2px, 0.15em) solid rgba(142, 121, 203, 1);
    outline-offset: max(2px, 0.15em);
  }
}

.form-check-span {
  line-height: 1;
}

.form-check-label {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  width: 22px;
  height: 22px;
  border: 2px solid $light-gray;

  display: flex;
  align-items: center;
  justify-content: center;

  &--secondary {
    //border-color: $light-gray;
  }

  &::before {
    content: "✓";
    width: 22px;
    height: 22px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    //box-shadow: inset -4em 0em 12px 0px $light-gray;
    /* Windows High Contrast Mode */
    background-color: transparent;
    color: $white;
    text-align: center;
    vertical-align: middle;

    &--secondary {
      box-shadow: inset -4em 0em 12px 0px $secondary-color;
    }
  }

  &:checked::before {
    transform: scale(1);
    //background-color: rgba(142, 121, 203, 1);
  }

  &:checked {
    //border-color: rgba(142, 121, 203, 1);
  }

  &:focus {
    //outline: max(2px, 0.15em) solid rgba(142, 121, 203, 1);
    outline-offset: max(2px, 0.15em);
  }

  &--secondary {
    &:checked::before {
      background-color: $secondary-color;
    }

    &:checked {
      border-color: $secondary-color;
    }

    &:focus {
      outline: max(2px, 0.15em) solid $secondary-color;
    }
  }
}

.form-control-sm {
  min-height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .85rem;
  border-radius: .2rem
}

.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  //background-color: #e4e6ee;
  font-size: 1.25rem;
  //border-radius: .3rem
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px #f9fafb inset;
}

.input-display {
  margin-top: 5px;
  padding: 1rem;

  .name, label {
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: bold;
  }

  .value {
    margin-top: 3px;
    margin-bottom: 5px;
  }
}

.progress {
  height: 0.5rem;
  border-radius: 10px;
  background-color: #cccccc;

  &--secondary {
    background-color: $secondary-color;
  }
}
