/*!
 * Copyright (c) 2020. 390labs Limited
 */

header {
  background-color: $white;
}

.navbar > .container {
  @include respond(phone) {
    padding: 1.4rem 2rem;
  }
}

.nav-item {
  .nav-active {
    color: $primary-color;
  }

  .nav-link {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
}

.lni {
  font-size: 1.7rem;
}
