/*!
 * Copyright (c) 2020. 390labs Limited
 */

@import "variables";
@import "mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  //font-size: 62.5%; //1 rem = 10px; 10px/16px
  font-size: 68.75%; //1 rem = 11px; 11px/16px

  @include respond(tab-land) { // width < 1200?
    //font-size: 56.25%; //1 rem = 9px, 9/16
    font-size: 62.5%; //1 rem = 10px, 10/16
  }

  @include respond(tab-port) { // width < 900?
    //font-size: 50%; //1 rem = 8px, 8/16
    font-size: 56.25%; //1 rem = 9px, 9/16
  }

  @include respond(big-desktop) {
    //font-size: 75%; //1rem = 1, 12/16
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  background-color: $page-bg-color;
}

::selection {
  background-color: $primary-color;
  color: $white;
}
